<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITPUB :: Publishing Guide</title>

    <meta property="og:image" content="./resources/images/img/thumnail.png">
    <meta property="og:title" content="아이티펍 프로젝트 가이드">
    <meta property="og:description" content="ITPUB Project Publishing Guide">

    <link rel="icon" href="../../resources/images/img/favicon.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/guide.css">
    <link rel="stylesheet" href="../../resources/css/style.css">


    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="../../resources/js/prism.js"></script>
    <script  src="../../resources/js/sub_guide.js"></script>
</head>
<style>
    .btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        background-color: cadetblue;
        color: white;
        height: 40px;
        border-radius: 8px;
    }
</style>
<body>
    <div id="guide-wrap">
        <header id="guide-header">
            <h2 class="title">
                <span class="cate"></span>
                _blank Guide - Ally Basic
            </h2>
            <div class="dec">
                <p>새 창링크에 target= "_blank", title="새창 열림" 속성이 있어야 합니다.</p>
                <p>해당 스크립트는 a 태그에 target이 blank일 경우 자동으로 title 값을 추가시켜주는 동적 스크립트입니다.</p>
            </div>
        </header>
        <section id="guide-contents">
            <div>
                <a href="#" class="btn" target="_blank">
                    새 창 열기
                </a>
            </div>
        </section>
        <section id="guide-code">
            <div class="html">
                <div class="title-wrap">
                    <h3 class="title">HTML</h3>
                    <button type="button" class="copy-btn">COPY</button>
                </div>
                <code class="language-html inner-code">
                </code>
            </div>
            <div class="css">
                <div class="title-wrap">
                    <h3 class="title">CSS</h3>
                    <button type="button" class="copy-btn">COPY</button>
                </div>
                <code class="language-css inner-code">
                </code>
            </div>
            <div class="script-code-box language-javascript">
                <div class="title-wrap">
                    <h3 class="title">Java Script</h3>
                    <button type="button" class="copy-btn">COPY</button>
                </div>
                <code class="language-js inner-code">
                </code>
            </div>
        </section>
    </div>
    <script>
        const blankLink = {
            init(){
                $('a').each((index, item) => {
                    if ($(item).attr('target') == '_blank'){
                        $(item).attr('title', '새 창 열기');
                    }
                });
            }
        }

        $(function(){
            blankLink.init();
        })
    </script>
</body>
</html>